html {
    height: 100%;
    box-sizing: border-box;
}
*, *:before, *::after {
    box-sizing: inherit;
}
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 49%,#a849a3 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    text-align: center;
    padding: 20px 0;
}
.contenedor {
    margin: 0 auto;
    width: 800px;
}
div.hero img {
    width: 100%;
    border-radius: 5%;
}
h2 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 30px 0;
}
ul.lista-productos {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.lista-productos li {
    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;
}
ul.lista-productos li:nth-child(2n+1) {
    clear: both;
}
ul.lista-productos li img {
    border: 10px solid rgba(128, 1, 195, .45);
    border-radius: 4%;
}
ul.lista-productos li img:hover {
    border: 10px solid rgba(128, 1, 195, 1)
}
ul.lista-productos li p {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
}
ul.lista-productos li p span {
    font-size: 40px;
    color: #ffce00;
}
.boton {
    background-color: #ffce00;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color:rgba(128, 1, 195, .8);
    font-size: 18px;
    border-radius: 25%;
}
.boton:hover {
    color: rgba(128, 1, 195, 1);
    font-size: 20px;
}